<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Contact-form-simple.css">
    <link rel="stylesheet" href="/static/css/Footer-Dark.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="/">NITNC 休講・補講サービス</a><button class="navbar-toggler"
                    data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">ナビゲーション</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/info">あなたの休講・補講情報</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/account">アカウント・メール設定</a></li>
                    </ul>
                    <span class="navbar-text actions">
                        {% if user.id %}
                        <a class="btn btn-light action-button" role="button" href="/accounts/profile/">{{ user.username }}の設定</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="login">ログイン</a>
                        <a class="btn btn-light action-button" role="button" href="{% url 'signup' %}">アカウント登録</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>

        {% block contents %}
        {% endblock contents %}

        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 item text">
                            <h3>開発にご協力を</h3>
                            <p>1人で短時間で適当に開発したのでバグがあるかもしれませんし、更に機能が必要かもしれません。長野高専の公式HPのHTMLを解析してデータを取得しているのでHPがリニューアルされた際などには不具合が生じる可能性もあります。バグにお気づきの方はGitHubでプルリクお願いします。</p>
                        </div>
                        <div class="col item social">
                            不具合とかあればこちらまで
                            <a target="_blank" href="https://github.com/kekeho/NITNC-Cancel-Notification"><i class="icon ion-social-github"></i></a>
                        </div>
                    </div>
                    <p class="copyright">Hiroki Takemura 2018 / MIT LICENSE</p>
                </div>
            </footer>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>