{% extends "base.html" %}
{% block title %}NITNC 休講・補講情報サービス{% endblock title %}

{% block contents %}
<div class="row header-row">
    <div class="col header-col"><span class="header-text">出席に、本気。</span><img src="/static/img/header-image.jpg" class="header-image"></div>
</div>
<div class="row service">
    <div class="col-lg-12 service-title">
        <p>休講・補講情報を逃さない。</p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col details-title">
                <p>メール通知サービス</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>あなたのクラスの休講・補講情報をメールで通知します。通知するタイミングも選択可能。</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col details-title">
                <p>あなたの休講・補講情報</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>長野高専公式HPと違い、あなたのクラスのみの休講・補講情報を一覧表示します。見やすい。</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock contents %}