{% extends 'base.html' %}

{% block title %}あなたの補講・休講{% endblock title %}

{% block contents %}
<div class="row" style="padding: 4rem;">
    {% if cancels %}
        {% for cancel in cancels %}
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="pricingTable purple">
                <div class="row pricing-plans">
                    <span class="price-value"><span>{{ cancel.subject }}</span></span>
                </div>
                <div class="row pricingContent">
                    <div class="col-6 largelist vcol-left">
                        <ul>
                            <li>
                                <p>休講日:</p> {{ cancel.cancel_date.month }}/{{ cancel.cancel_date.day }}<br/>
                                {{ cancel.cancel_time }}
                            </li>
                            <li>
                                <p>補講日:</p>{{ cancel.supplementary_date.month }}/{{ cancel.supplementary_date.day }}<br/>
                                {{ cancel.cancel_time }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 normal-list vcol-right">
                        <ul>
                            <li>
                                <p>教室:</p>
                                {{ cancel.place }}
                            </li>
                            <li>
                                <p>学科:</p> 
                                {{ cancel.major }}
                            </li>
                            <li>
                                <p>教員:</p>
                                {{ cancel.teacher }}
                            </li>
                            <li>
                                <p>備考:</p>
                                {{ cancel.memo }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>休講・補講情報はありません。</p>
    {% endif %}
</div>
{% endblock contents %}